
@font-face {
    font-family: 'muliregular';
    src: url('../../fonts/muli-webfont.eot');
    src: url('../../fonts/muli-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/muli-webfont.woff2') format('woff2'),
         url('../../fonts/muli-webfont.woff') format('woff'),
         url('../../fonts/muli-webfont.ttf') format('truetype'),
         url('../../fonts/muli-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family:'Glyphicons Halflings';
    src:url('../../fonts/glyphicons-halflings-regular.eot');
    src:url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
}
body{
    font-family: 'muliregular', arial, helvetica, sans-serif;
}
.header{
    width: 288px;
}

p.txt-menu{
    font-family: 'muliregular', arial, helvetica, sans-serif;
}

/******** SHIFT ********/
.shift-tm20{
    margin-top: 20px;
}
.shift-tp20{
    padding-top: 20px;
}
/******** END SHIFT ********/

.absolute{
    position: absolute;
}
.shiftRight{
    float: right;
}
.footer{
    margin-top: 20px;
    margin-left: 15px;
}

/******** END SHIFT ********/
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.icon-bar {
  color: black;
  border-color: black;
  background-color: black;
}

.navbar-nav li a{
    color: #a1b0c0;
}

.navbar-nav li a:hover{
    color: #73aec0;
}

.cadre-photo{
    width: 217px;
    height: 217px;
    background: transparent url('../../Bundles/artimonegeneral/images/cadre.png') center top no-repeat;
}

.photo-sahar{
    margin: 10px 0px 0px 10px;
}

.icones{
    padding: 10px 0px;
    margin-left:-15px;
}

.photos-home img{
    margin-left: 16px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    behavior: url(/PIE.htc);
}